# Server
PORT=5000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://127.0.0.1:27017/nexusPlay

# Frontend
FRONTEND_URL=http://localhost:5173

# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_TIME=7d

# Cookie
COOKIE_EXPIRES_TIME=7

# SMTP / Mailtrap
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_EMAIL=your_mailtrap_username
SMTP_PASSWORD=your_mailtrap_password

# Email
SMTP_FROM_EMAIL=noreply@nexusplay.com
SMTP_FROM_NAME=NexusPlay